.contact-container {
	max-width: 50%;
	margin: 0 auto;
	padding: 0 2.5rem 0 2.5rem;
}
.h1-contact {
	text-align: center;
}

.p-contact,
.p-address {
	font-family: "Roboto", sans-serif;
	text-align: center;
}
.p-closing {
	color: red;
	font-weight: bold;
}
.no-underline {
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-right: 0.2rem;
	margin-left: 0.2rem;
}
.no-underline:hover {
	text-decoration: underline;
}
.map-container {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.span-tel a {
	margin-left: 0.5rem;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.a-tel {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.mini-logo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
